

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
   
}

.container{
	height: 100%;
}

#sidebar a{
	font-family: "Comic Sans MS";
	color: rgb(255, 217, 0);
	font-size: 18px;
}

#sidebar li{
	margin-top:15px;
}

#sidebar i{
	margin-right: 10px;
	color: rgb(1, 79, 145);
}


